.main-logo {
    padding-left: 1%;
}

.Navbar {
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 10;
    height: 6%;
}

.main_page {
    height: 100vh;
    background-color: #F3F0E8;
    padding-top: .5%;
}

.postForm {
    padding-top: 3%;
    display: flex;
    justify-content: center;
}

.mainForm {
    background-color: bisque;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 85%;
    border-radius: 25px;
}

.background {
    background: url("../images/mi_in_fall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.list_view {
    background-color: #F2B9AD;
}

.list_view:hover {
    background-color: #a3ceec;
}

.subNav {
    display: flex;
    justify-content: space-between;
}

.detailTitle {
    justify-content: center;
}

.main-function-button {
    background-color: #73cf9f;
    color: black;
    font-size: medium;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
}

.edit-button {
    background-color: #73cfcd;
}

.main-function-button:hover {
    background: #ffcc00;
}

.report-alert {
    background: #eccda3;
}

.middle-col {
    margin-top: 3%;
    text-align: center;
}

.joinLeave {
    margin: 15% 0 20% 0;
}
